
.a-button {
  position: relative;
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  letter-spacing: 0.5px;
  user-select: none;
}

.a-button:active {
  top: 1px;
}

.a-button:focus {
  outline-offset: 2px;
}

.a-button.is-primary {
  color: white;
  background-color: var(--primary-color);
}
.a-button.is-secondary {
  color: var(--secondary-color);
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}
.a-button.is-small {
  font-size: 12px;
  padding: 10px 16px;
}
.a-button.is-medium {
  font-size: 14px;
  padding: 11px 20px;
}
.a-button.is-large {
  font-size: 16px;
  padding: 12px 24px;
}

.a-button.is-primary.is-disabled {
  background-color: var(--disabled-color);
  color: white;
  pointer-events: none;
}

.a-button.is-secondary.is-disabled {
  color: var(--disabled-color);
  pointer-events: none;
}
